 @import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300;700&family=Poppins:wght@400;500;700&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: poppins;
     font-weight: 400px;
    transition: .3s ease;
     color: #333;
}
 html{
     scroll-behavior: smooth;
}
 :root{
     --p:#784cfb;
    ;
     --dark:#333;
     --light-dark:#7a7a7a;
     --trc:#222;
     --bg:#fff;
}
p{
     font-size: 1rem;
     line-height: 14px;
}
input,button{
     border:none;
     outline: none;
}
a{
     text-decoration: none;
}
input,textarea{
     border:1px solid transparent!important;
    transition: .3s ease;
}
input:focus,textarea:focus{
     border:1px solid var(--p)!important;
}
/**/
 .active{
     color: var(--p);
}
header{
     width:100%;
    position: sticky;
    top:0;
    z-index: 1000;
    background: var(--bg);
     height: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
nav{
     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 1280px;
     padding-left: 30px;
    margin: auto;
     padding-right: 30px;
}
.links ul li{
     list-style: none;
     display: inline-block;
     margin-left: 20px;
     margin-right: 20px;
}
.links ul li a{
     font-size: 1rem;
     font-weight: 500;
     text-transform: uppercase;
}
.btn{
     display: inline-block;
     padding: 0.85rem 2rem;
     background-color: var(--p);
     color: #fff;
    font-size: .8rem;
     border-radius: 2rem;
     text-transform: uppercase;
    cursor: pointer;
     font-weight: 500;
     transition: 0.3s;
}
.no{
     margin-right: 0;
}
.links ul li a:hover{
     color: var(--p);
}
.btn:hover{
     background-color: var(--trc);
     color: #fff!important;
}
.logo{
     position: relative;
    color: #111;
}
.logo::after{
     content: " ";
     width: 6px;
     height: 6px;
    border-radius: 3px;
     background: var(--p);
    position: absolute;
    bottom: 5px;
     right: -8px;
}
/**/
 .top{
     width: 100%;
     max-width: 1280px;
    margin:auto;
     position: relative;
     display: flex;
}
.top_left_img{
     position: absolute;
     bottom: 0px;
    width: 200px;
    left: -80px;
     height: 200px;
    opacity: .5;
}
.top_right_img{
     position: absolute;
    top: 60px;
    width: 200px;
    right: -80px;
     height: 200px;
    opacity: .5;
}
 .top .left,.top .right{
     flex: 1;
}
.top .right{
     display: flex;
    align-items: center;
    justify-content: center;
}
.top .right img{
     height: 700px;
}
.my_name{
     font-size: 3rem;
    position: relative;
}
.my_name span{
     color: var(--p);
}
.my_name::before{
     content: attr(data-text);
    position: absolute;
     top: -20px;
     font-size: 1.3rem;
    letter-spacing: 2px;
     color: var(--p);
     text-transform: uppercase;
     font-weight: bold;
}
.my_info{
     color: var(--light-dark);
    line-height: 27px;
     margin-top: 15px;
    font-size: 1rem;
}
.btn_cv{
     margin-top: 25px;
}
.top .left{
     display: flex;
    align-items: center;
}
/**/
 .sub-head{
     text-align: center;
    font-size: 2.8rem;
     font-weight: 700;
     color: #111;
     position: relative;
}
.sub-head::before{
     content: attr(data-item);
     font-size: .8rem;
    color: var(--p);
     letter-spacing: 2px;
     text-transform: uppercase;
    top: -8px;
     position: absolute;
    font-weight: 500;
    transform: translate(-50% , -50%);
    left: 50%;
}
.sub-head::after{
     content: "";
     font-size: .8rem;
    background: var(--p);
     letter-spacing: 2px;
    height: 5px;
     width: 100px;
    border-radius: 3px;
     text-transform: uppercase;
    bottom: -2px;
     position: absolute;
    font-weight: 500;
    transform: translate(-50% , -50%);
    left: 50%;
}
.about{
     display: flex;
    max-width: 1280px;
     width: 100%;
     margin: auto;
    margin-top: 60px;
}
.ab_left{
     flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ab_right{
     flex: 2;
    padding: 50px;
}
.outer{
     width: 400px!important;
     height: 400px!important;
     position: relative;
     border:5px solid #555;
}
.ab_img{
    object-fit: cover;
     width: 400px!important;
     height: 400px!important;
     cursor: pointer;
     position: absolute;
     background: var(--p);
    top:-25px;
     left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ab_img:hover{
     transform: translate3d(-55px , -20px ,0px);
}
 .know_more{
    position: relative;
     line-height: 26px;
    color: var(--light-dark);
}
.know_more::before{
     content: attr(data-item);
     font-size: .8rem;
    color: var(--p);
     letter-spacing: 2px;
     text-transform: uppercase;
    top: -25px;
     position: absolute;
    font-weight: 500;
}
.info_ab{
     display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.info_left{
    margin-top: 15px;
     display: flex;
    width: 50%;
    align-items: center;
}
.icon i{
     color: var(--p);
     font-size: 22px;
    padding: 10px;
}
.icon{
    min-width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index{
    min-width: 90px!important;
     font-weight: 500;
    color: #222;
}
.value{
     color: #444;
    min-width: 400px!important;
}
/**/
 .skill_indi{
     display: flex;
    width: calc(33% - 40px);
     margin:20px;
     flex-direction: column;
}
.skill_name{
    padding: 15px;
    ;
     display: flex;
    font-size: 1rem;
     font-weight: bold;
     text-transform: uppercase;
     color: var(--p)!important;
     justify-content: space-between;
}
.skill_100{
     height: 10px;
    position: relative;
     border-radius: 5px;
     background-color: lightgray;
     border-radius: 5px;
}
.skill_pro{
    position: absolute;
    top:0;
    height: 10px;
    ;
     width: 85%;
    background-color: var(--p);
    border-radius: 5px;
    ;
}
.skill_{
     display: flex;
    flex-wrap: wrap;
    width: 100%;
     max-width: 850px;
    margin: auto;
}
.skills{
     width:100%;
     max-width: 1280px;
     margin: auto;
}
.my_skills{
     max-width: 1280px;
     margin: auto;
     position: relative;
}
 .p{
     color: var(--light-dark);
     text-align: center;
     margin-top: 15px;
     margin-bottom: 15px;
}
.numbers{
    background: var(--p);
    margin-top: 60px;
     width: 100%;
    position: relative;
}
 .num_inside{
     width: 100%;
     max-width: 1280px;
     margin: auto;
    height:auto;
    padding-top: 100px;
    padding-bottom: 40px;
     display: flex;
    align-items: center;
}
 .num_inside div{
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
    flex-direction: column;
}
.number{
     font-size: 4rem;
     font-weight: 700;
     color: #fff;
}
.pur{
     color: #fff;
    text-transform: uppercase;
     font-size: 1.2rem;
     margin-top: 40px;
     font-weight: 500;
}
.my_works{
     width: 100%;
     position: relative;
}
 .my_works_in{
     background: var(--p);
     padding: 50px;
    padding-bottom: 120px;
}
 .my_works_in h3{
     color: #fff;
}
 .my_works_in h3::before{
     color: #fff;
}
.my_works_in h3::after{
     background: #fff;
}
 .cat{
     display: flex;
    justify-content: center;
    align-items: center;
}
.cat p{
     margin: 40px;
    color: #fff;
    font-weight: 500;
     font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
}
.cat_act{
     background: #fff;
     border-radius: 2rem;
     padding: 10px 20px;
    color: var(--p)!important;
}
.work_div{
     max-width: 1280px;
     margin: auto;
    display: flex;
    margin-top: -140px;
     flex-wrap: wrap;
}
.card{
    overflow: hidden;
     display: block;
     width:calc(33% - 60px);
     height: 250px;
    margin: 30px;
     border-radius: 8px;
    position: relative;
     background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.card img{
    width: 100%;
     height: 100%;
     border-radius: 8px;
     object-fit: cover;
    position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50% , -50%);
}
 .card_over{
     display: none;
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50% , -50%);
     background-color: #784cfb85;
     padding: 20px;
    border-radius: 8px;
     opacity: 0;
     transition:opacity 5s ease-in-out;
    height: 110%;
    width: 110%;
}
 .card:hover .card_over{
     display: block;
     transition:opacity 5s ease-in-out;
     opacity: 1;
}
.card:hover > img{
     width: 110%;
    height: 110%;
}
.over_div{
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.name_pro{
     font-weight: 700px;
     color: #fff;
     margin-bottom: 10px;
    text-transform: uppercase;
     font-size: .8rem;
}
.link_pro{
     color: #fff;
}
 .shape{
     position: absolute;
     filter: brightness(0) invert(1);
     opacity: 0.15;
    height: 25px;
}
 .a{
     top: 28%;
     left: 20%;
}
.b{
     top: 8%;
     right: 35%;
}
.c{
     bottom: 10%;
     right: 4%;
}
.d{
     bottom: 13%;
     left: 5%;
}
.e{
     top: 35%;
     right: 20%;
}
.f{
     top: 10%;
     right: 8%;
}
.g{
     top: 38%;
     left: 6%;
}
.i{
     left: 40%;
    top: 20%;
}
 .h{
     left: 80%;
    top: 100%;
}
.services{
     margin-top: 40px;
}
.services_more{
     display: flex;
    max-width: 1280px;
     margin: auto;
     align-items: center;
    justify-content: center;
}
.services_more div{
     flex: 1;
    cursor: pointer;
     margin: 20px;
     border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 40px;
     background: #f6f7fb;
    border-bottom: 10px solid #fff;
}
.services_more div:hover{
     border-bottom: 10px solid var(--p);
    transform: translateY(-15px);
}
.ser_img{
     width: 100px;
}
.pp{
     line-height: 30px;
}
.ser_name{
     text-transform: uppercase;
     margin-top: 20px;
}
.have_project{
    margin: auto;
     margin-top:500px;
     max-width: 1280px;
     display: flex;
    align-items: center;
    flex-direction: column;
}
.contact_us{
     margin-top: 30px;
}
 #contact{
     background: var(--p);
     padding-top: 50px;
     padding-bottom: 160px;
    position: relative;
}
#contact .sub-head{
     color: #fff;
}
#contact .sub-head::after{
     background: #fff;
}
#contact .sub-head::before{
     color: #fff;
}
#contact p{
     color: #fff;
}
.contact_div{
     padding: 40px;
     background: #fff;
     border-radius: 8px;
    display: flex;
     max-width: 1280px;
    width:100%;
     margin: auto;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: -140px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top:600px;
}
.contact_div_left{
     flex:1;
}
.contact_div_right{
     flex:1;
    padding-right:30px;
    padding-left: 30px;
}
.contact_div_right form{
     display: flex;
     flex-direction: column;
}
.contact_div_right form div{
     display: flex;
}
.contact_div_right form div input,.contact_div_right form input,textarea{
     padding: 1.2rem 2.1rem;
     margin: 0.6rem 0;
     border: none;
     outline: none;
     background: #f3f3f3;
     border-radius: 2rem;
     font-weight: 500;
     transition: 0.3s;
}
 .form_inp_flex{
     display: flex;
    justify-content: space-between;
}
 textarea{
    margin-bottom: 30px;
     height: 250px;
    resize: none;
}
.form_inp_flex input{
     width: 100%;
}
.sub-head-2{
     font-size: 2.8rem;
     font-weight: 700;
     color: #111;
    position: relative;
}
.space{
     width:20px;
}
 .sub-head-2::after{
     content: "";
     font-size: .8rem;
    background: var(--p);
     letter-spacing: 2px;
    height: 5px;
     width: 100px;
    border-radius: 3px;
     text-transform: uppercase;
    bottom: -2px;
     position: absolute;
    font-weight: 500;
    transform: translate(-50% , -50%);
    left: 50px;
}
.address{
     margin-top: 40px;
     margin-left: 30px;
}
 .add_icon{
     min-width: 60px!important;
     min-height: 60px!important;
     border-radius: 50%;
     background: var(--p);
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
}
.add_text{
     font-size: 1.1rem;line-height: 28px;
    padding-left: 18px;
     color: #222!important;
}
.address_div{
     display: flex;
     align-items: center;
    margin-top: 20px;
}
.add_icon i{
     color: #fff;
}
.testi_{
     max-width: 1000px;
     margin-top:50px;
    margin: auto;
}
.testi_p{
     font-size: 1rem;
     line-height: 30px;
    text-align: center;
}
.testi{
     margin-top: 40px;
     display: flex;
     align-items: center;
    justify-content: center;
     flex-direction: column;
}
.make_bold{
     font-weight: 500;
    text-transform: uppercase;
     font-size:1rem;
     color: var(--p);
}
.testi_img{
     display: flex;
    align-items: center;
}
.testi_img img{
     width: 150px!important;
    margin: 30px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: var(--p);
     height: 150px!important;
     object-fit: cover;
}
.count{
     color: #fff;
}
 .footer{
     width:100%;
    margin-top: 50px;
    padding: 50px;
     background: #222222;
    position: relative;
}
 .foot{
     display: flex;
     max-width: 1280px;
     margin: auto;
}
 .f1,.f4{
     flex:2;
    padding: 20px;
}
.f2,.f3{
     flex:1;
    padding: 20px;
}
.white{
     color: #fafafa;
    width: 170px;
    font-size: 1.8rem;
}
.white::after{
     content: " ";
     width: 6px;
     height: 6px;
    border-radius: 3px;
     background: var(--p);
    position: absolute;
    bottom: 5px;
    right: -6px;
}
.ppp{
     color: var(--light-dark);
    font-size: 1.2rem;
     line-height: 30px;
    margin-top: 20px;
}
.wh{
     color: #fafafa;
    font-size: 1.8rem;
}
.f_links{
     margin-top: 20px;
}
ul li{
     list-style: none;
}
.f_links a{
     color: var(--light-dark);
}
.f_links li{
     margin-top: 15px;
}
.f_links a:hover{
     color: var(--p);
}
.upper{
     color: var(--p);
     font-size: 1rem;
     font-weight: 500;
     text-transform: uppercase;
}
.hum{
     display: none;
}
.mob_navigation{
     width: 100%;
     height: calc(100vh - 70px);
     position: fixed;
     top:70px;
    background: #fff;
    display: none;
}
 @media only screen and (max-width: 600px) {
     .links{
         display: none;
    }
    .top{
         overflow: hidden;
         flex-direction: column;
    }
    .my_name{
         font-size: 2rem;
    }
    .shapes{
         height: 19px;
    }
    .left{
         padding: 30px;
        margin-top: 40px;
    }
    .top_right_img{
         top:-100px;
         right: -100px;
    }
    .top .right img{
         width: 90%;
        height: auto;
    }
    .top_left_img{
         z-index: -100;
    }
    .about,.info_ab{
         flex-direction: column;
    }
    .about{
         margin-top: 0;
    }
    .ab_left{
         display: none;
    }
     .ab_right{
        margin-top: 30px;
         padding: 20px;
    }
    .value{
         min-width: 100%!important;word-break: break-all;
    }.index{
        width: auto!important;
    }.value{
        word-break: break-all;
    }.form_inp_flex{
        flex-direction: column;
    }.space{
        display: none;
    }
    .sub-head{
         font-size: 2.3rem;
    }
    .skill_{
         flex-direction: column;
    }
    .skill_indi{
         width: 100%;
    }
    .my_skills{
        margin-top: -60px;
         padding: 50px;
    }
    .skill_indi{
         margin: auto;
        margin-top: 20px;
    }
    .num_inside{
         flex-direction: column;
    }
    .numbers{
         margin-top: 0;
    }
    .num_inside div{
         margin-bottom: 70px;
    }
    .my_works{
         margin-top: -70px;
    }
    .sub-head::before{
         width: 100%;
    }
    .p{
         line-height: 25px;
    }
    .services_more{
         flex-direction: column;
    }
    .cat{
         flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cat p{
         margin: 10px;
    }
    .testi_{
         padding: 10px;
    }
    .testi_img{
         flex-direction: column;
    }
    .work_div{
         flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
         width: 90%;
        margin: 20px;
    }
    .contact_div{
        border-radius: 0;
        padding: 30px;
        flex-direction: column;
         top:920px;
    }
    .address{
         margin-left: 0;
    }
     .contact_div_right{
         margin-top: 20px;
        padding: 0;
    }
    .have_project{
         margin-top: 1060px;
    }
    .p{
         padding: 10px;
    }
    .footer{
         padding: 20px;
    }
    .foot{
         flex-direction: column;
    }
    .hum::before{
         position: absolute;
         width:25px;
        content: " ";
         height:3px;
        top:-7px;
         background: #111;
    }
    .hum::after{
         position: absolute;
         width:25px;
        content: " ";
         height:3px;
        top:7px;
         background: #111;
    }
    .hum{
         display: block;
         width:25px;
        cursor: pointer;
         height:3px;
         background: #111;
         position:relative;
    }.upper{
        padding-left: 0!important;
    }#about{
        margin-top: 30px;
    }.add_text{
        font-size: .9rem;
    }
}
